.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.333;
  padding: 12px 8px;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #8c8c8c;
  border: 0;
  color: #4c4c4c;
  text-decoration: none;
  font-family: 'UnitRoundedOT';
}
.button svg {
  margin-right: 8px;
  fill: #4c4c4c;
}
.button:hover {
  background-color: #f5f4f2;
  border-color: #4c4c4c;
  box-shadow: inset 0 0 0 1px #4c4c4c, 0 0 0 1px #4c4c4c;
}
.button:focus {
  outline: none;
}
.button[disabled] {
  cursor: not-allowed;
  background: #dedede !important;
  color: #fff;
  border: 0;
  box-shadow: none;
}

.buttonPrimary {
  composes: button;
  background-color: #cc071e;
  color: #fff;
  box-shadow: none;
}
.buttonPrimary:hover {
  background-color: #a0081a;
  box-shadow: none;
}

.buttonSecondary {
  composes: button;
  background-color: #f6f6f6;
}
.buttonSecondary:hover {
  background-color: #e6e6e6;
}

.buttonLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.333;
  padding: 12px 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 0;
  text-decoration: underline;
  color: #4c4c4c;
  font-size: 18px;
  font-weight: 500;
  font-family: 'UnitRoundedOT';
}
.buttonLink svg {
  fill: #4c4c4c;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-top: -4px;
}

@media (min-width: 768px) {
  .buttonLink:hover {
    color: #cc071e;
  }

  .buttonLink:hover svg {
    fill: #cc071e;
  }
}

.buttonIcon {
  composes: buttonLink;
  width: 24px;
  height: 24px;
  padding: 0;
}
.buttonIcon svg {
  fill: #8c8c8c;
  margin-right: 0;
}
.buttonIcon:hover svg {
  fill: #cc071e;
}

.textLink {
  composes: buttonLink;
  text-decoration: underline;
  font-size: 16px;
  padding: 0;
  height: auto;
  font-weight: normal;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.table td {
  padding: 8px;
  line-height: 1.5;
}

.table tr:not(:first-child) td {
  border-top: 1px solid #ccc;
}

.table td,
.table th {
  vertical-align: top;
}

.table td:first-child {
  padding-left: 0;
}

.table .tableShrink {
  white-space: nowrap;
}

.table .tableExpand {
  width: 99%;
}

.cardForm {
  min-height: 360px;
  max-height: 360px;
  vertical-align: center;
  display: flex;
  flex: 2 1;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
}

.cardFormMiduim {
  vertical-align: center;
  display: flex;
  flex: 2 1;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
}

.cardFormContent {
  flex-grow: 2;
}

.formControl {
  width:  100%;
}

.selectControl {
  width:  100%;
  margin: 8px 0px 8px 0px;
}


