.registrationForm {
    min-height: 280px;
    max-height: 280px;
    vertical-align: center;
    display: flex;
    flex: 2 1;
    flex-direction: column;
    padding: 16px;
}

.typography{
    margin-bottom: 30px;
}

.inputField {
    width: 100%;
}

.actions {
}

.fillContent {
    flex-grow: 2;
}

.terms_conditions{
    margin: 24px 10px;
}

.divider {
    margin: 24px 10px !important;
}
.login_headline {
    text-align: center;
}
